text {
  font-size: 0.6rem;
}


.selected {
  fill: #e1e3e3 !important;
  background-color: #e1e3e3 !important;
}

.possible {
  fill: #e1e3e3 !important;
  /* fill-opacity: 0.3;  */
}

.lasso path {
  stroke: #e1e3e3;
  stroke-width: 1.5px;
}

.lasso .drawn {
  fill-opacity: 0.1;
}

.lasso .loop_close {
  fill: none;
  stroke-dasharray: 4, 4;
}

.lasso .origin {
  fill: #3399FF;
  fill-opacity: .5;
}

.filterToggal {
  visibility: visible;
  position: absolute;
  z-index: 10;
  padding: 1px;
  top: 0px;
  right: 0px;
  margin: 5px;

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 18px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

  /* Rounded sliders */

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.confirm {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  padding: 1px;
  top: -5px !important;
  right: 45px;
  margin: 5px;
}

// svg.sankey .link {
//   stroke: #000 !important;
//   stroke-opacity: 0.2;
// }

.base_line line {
  stroke: #787878 !important;
  stroke-opacity: 0.8 !important;
  stroke-width: 2 !important;
}
.dataset {
  padding-right: 5px;
}

.sort_selection {
  font-size: 1rem;
  line-height: 1.2rem;
  visibility: hidden;
  position: absolute;
  color: white;
  background-color: rgba(31, 33, 36, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  z-index: 10;
  text-align: left;
}

.sort_selection div {
  margin: 0px 0px 5px 0px;
}

.sort_selection input {
  margin-top: 1px;
}

.arrow-down {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(31, 33, 36, 0.8);
}

.arrow-left {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid rgba(31, 33, 36, 0.8);
}
