#infographics {
  border: 1px solid #999;
  width: 1260px;
  height: 540px;

  .container {
    position: relative;
    padding: 0px;
  }
}

#info {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .measure {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    align-items: center;

    .parent {
      .child {
        padding: 3px;
        line-height: 80%;
        color: #636464;
        text-align: left;
      }
    }

    .parent {
      display: table;
      height: auto;
      width: auto;
    }
  }
}

svg#graphics {
  position: absolute;
  width: 100%;
  height: 100%;
}
