#viz_table_wrapper .table th {
  font-weight: bold;
  border-bottom: 0px;
  border-left: 1px solid #d3d4d4;
  border-right: 1px solid #d3d4d4;
}
.dataTables_length {
  text-align: left !important;

  label {
    /*setting up search box position  */
    width: auto !important;
  }
}
#viz_pivot-table_wrapper .table th {
  font-weight: bold;
  border-bottom: 0px;
  border-left: 1px solid #d3d4d4;
  border-right: 1px solid #d3d4d4;
}

.searchIcon {
  position: absolute;
  margin: 5px;
  top: -13px;
  right: 5px;
  z-index: 9999;
  font-size: 35px;
}

#viz_table_filter {
  margin-right: 45px !important;
}

.searchOpen {
  display: none;
}
.searchClose {
  display: block;
}
.dataTables_scroll {
  overflow: auto;
}

._pagination li > a,
._pagination li > span {
  display: inline-block !important;
  padding: 5px 14px !important;
  background-color: #fff !important;
  border: 1px solid #337ab7 !important;
  border-radius: 15px !important;
  color: #337ab7 !important;
  margin: 5px;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}
