#viz_table_wrapper .table th {
  font-weight: bold;
  border-bottom: 0px;
  border-left: 1px solid #d3d4d4;
  border-right: 1px solid #d3d4d4;
}

#viz_table {
  margin: 0 auto;
  width: 100% !important;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

div.dataTables_wrapper {
  width: 100% !important;
  margin: 0 auto;
}

.dataTables_length {
  text-align: left !important;

  label {
    /*setting up search box position  */
    width: auto !important;
  }
}
#viz_pivot-table_wrapper .table th {
  font-weight: bold;
  border-bottom: 0px;
  border-left: 1px solid #d3d4d4;
  border-right: 1px solid #d3d4d4;
}

.searchIcon {
  position: absolute;
  margin: 5px;
  top: -13px;
  right: 65px;
  z-index: 999;
  font-size: 35px;
}

#viz_table_filter {
  margin-right: 95px !important;
}

.searchOpen {
  display: block;
}
.searchClose {
  display: none;
}
.dataTables_scroll {
  overflow: auto;

  table {
    clear: both;
    border-collapse: collapse;
    // table-layout: fixed;
  }
}

._pagination li > a,
._pagination li > span {
  display: inline-block !important;
  padding: 5px 14px !important;
  background-color: #fff !important;
  border: 1px solid #337ab7 !important;
  border-radius: 15px !important;
  color: #337ab7 !important;
  margin: 5px;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}
#viz_table_wrapper td.selected {
  background-color: #676a6c !important;
  opacity: 0.5 !important;
  color: #fff !important;
}

/* width */
.dataTables_scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
.dataTables_scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.dataTables_scroll::-webkit-scrollbar-thumb {
  background: rgba(136, 139, 142, 0.5);
}

/* Handle on hover */
.dataTables_scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 139, 142);
}

#viz_table_wrapper table.dataTable thead th.ui-state-default,
#viz_table_wrapper table.dataTable tfoot th.ui-state-default {
  border-left-width: 1px;
  border: 1px solid #dddddd;
  border-top: none;
  padding: 4px 5px;
}

#viz_table_wrapper table.dataTable.display tbody td {
  border: 1px solid #dddddd;
}

#viz_table_wrapper table.dataTable tfoot tr:first-child th,
#viz_table_wrapper table.dataTable thead tr:first-child th {
  border-top: 1px solid #dddddd;
  border-right: none;
}

#viz_table_wrapper table.dataTable tbody th {
  border-right: none;
}

#viz_table_wrapper table.dataTable tbody th,
#viz_table_wrapper table.dataTable tbody td {
  padding: 4px 5px;
}

#viz_pivot-table_wrapper {
  .no-footer tr th {
    border-top: 1px solid #dddddd;
    padding: 4px 5px;
    font-size:13px !important;
  }
  tbody tr td {
    padding: 4px 5px;
  }
}
