#viz_table_wrapper .table th {
  font-weight: bold;
  border-bottom: 0px;
  border-left: 1px solid #d3d4d4;
  border-right: 1px solid #d3d4d4;
}
.dataTables_length {
  text-align: left !important;

  label {
    width: auto !important;
  }
}
