/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
@import url(./../font-awesome-4.7.0/css/font-awesome.min.css);
/* line 1, ../sass/partials/_common.scss */
text {
  font-size: 0.6rem;
}

/* line 6, ../sass/partials/_common.scss */
.selected {
  fill: #e1e3e3 !important;
  background-color: #e1e3e3 !important;
}

/* line 11, ../sass/partials/_common.scss */
.possible {
  fill: #e1e3e3 !important;
  /* fill-opacity: 0.3;  */
}

/* line 16, ../sass/partials/_common.scss */
.lasso path {
  stroke: #e1e3e3;
  stroke-width: 1.5px;
}

/* line 21, ../sass/partials/_common.scss */
.lasso .drawn {
  fill-opacity: 0.1;
}

/* line 25, ../sass/partials/_common.scss */
.lasso .loop_close {
  fill: none;
  stroke-dasharray: 4, 4;
}

/* line 30, ../sass/partials/_common.scss */
.lasso .origin {
  fill: #3399FF;
  fill-opacity: .5;
}

/* line 35, ../sass/partials/_common.scss */
.filterToggal {
  visibility: visible;
  position: absolute;
  z-index: 10;
  padding: 1px;
  top: 0px;
  right: 0px;
  margin: 5px;
  /* Rounded sliders */
}
/* line 44, ../sass/partials/_common.scss */
.filterToggal .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
/* line 51, ../sass/partials/_common.scss */
.filterToggal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* line 57, ../sass/partials/_common.scss */
.filterToggal .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* line 69, ../sass/partials/_common.scss */
.filterToggal .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* line 81, ../sass/partials/_common.scss */
.filterToggal input:checked + .slider {
  background-color: #2196f3;
}
/* line 85, ../sass/partials/_common.scss */
.filterToggal input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
/* line 89, ../sass/partials/_common.scss */
.filterToggal input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
/* line 97, ../sass/partials/_common.scss */
.filterToggal .slider.round {
  border-radius: 34px;
}
/* line 101, ../sass/partials/_common.scss */
.filterToggal .slider.round:before {
  border-radius: 50%;
}

/* line 106, ../sass/partials/_common.scss */
.confirm {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  padding: 1px;
  top: -5px !important;
  right: 45px;
  margin: 5px;
}

/* line 121, ../sass/partials/_common.scss */
.base_line line {
  stroke: #787878 !important;
  stroke-opacity: 0.8 !important;
  stroke-width: 2 !important;
}

/* line 126, ../sass/partials/_common.scss */
.dataset {
  padding-right: 5px;
}

/* line 130, ../sass/partials/_common.scss */
.sort_selection {
  font-size: 1rem;
  line-height: 1.2rem;
  visibility: hidden;
  position: absolute;
  color: white;
  background-color: rgba(31, 33, 36, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  z-index: 10;
  text-align: left;
}

/* line 145, ../sass/partials/_common.scss */
.sort_selection div {
  margin: 0px 0px 5px 0px;
}

/* line 149, ../sass/partials/_common.scss */
.sort_selection input {
  margin-top: 1px;
}

/* line 153, ../sass/partials/_common.scss */
.arrow-down {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(31, 33, 36, 0.8);
}

/* line 163, ../sass/partials/_common.scss */
.arrow-left {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(31, 33, 36, 0.8);
}

/* line 2, ../sass/partials/_grid.scss */
.grid path {
  stroke: #ededed;
}
/* line 6, ../sass/partials/_grid.scss */
.grid line {
  stroke: #787878 !important;
  stroke-opacity: 0.3 !important;
  shape-rendering: crispEdges !important;
}

/* line 15, ../sass/partials/_grid.scss */
.x_brush rect.overlay,
.y_brush rect.overlay {
  fill: #e5e5e5;
}
/* line 18, ../sass/partials/_grid.scss */
.x_brush rect.selection,
.y_brush rect.selection {
  fill: #ffffff;
  fill-opacity: 1;
}
/* line 22, ../sass/partials/_grid.scss */
.x_brush .handle,
.y_brush .handle {
  fill: #9a9d9f;
  fill-opacity: 0.5;
}

/* line 36, ../sass/partials/_grid.scss */
.brush .handle {
  fill: #9a9d9f;
  fill-opacity: 1;
}

/* line 1, ../sass/partials/_infographics.scss */
#infographics {
  border: 1px solid #999;
  width: 1260px;
  height: 540px;
}
/* line 6, ../sass/partials/_infographics.scss */
#infographics .container {
  position: relative;
  padding: 0px;
}

/* line 12, ../sass/partials/_infographics.scss */
#info {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* line 18, ../sass/partials/_infographics.scss */
#info .measure {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  align-items: center;
}
/* line 28, ../sass/partials/_infographics.scss */
#info .measure .parent .child {
  padding: 3px;
  line-height: 80%;
  color: #636464;
  text-align: left;
}
/* line 36, ../sass/partials/_infographics.scss */
#info .measure .parent {
  display: table;
  height: auto;
  width: auto;
}

/* line 44, ../sass/partials/_infographics.scss */
svg#graphics {
  width: 100%;
  height: 100%;
}

/* line 3, ../sass/partials/_kpi.scss */
#kpi .container .measure {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 50%;
}
/* line 12, ../sass/partials/_kpi.scss */
#kpi .container .measure .parent .child {
  padding: 3px;
  line-height: 80%;
  color: #636464;
  text-align: left;
}

/* line 1, ../sass/partials/_tooltip.scss */
.custom_tooltip {
  visibility: hidden;
  position: absolute;
  opacity: 1;
  background-color: white;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 0.5px;
  padding: 5px 2px;
  z-index: 10;
  box-shadow: 0px 0px 1px #bcbcbc;
  pointer-events: none;
  transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  word-break: break-all;
}
/* line 21, ../sass/partials/_tooltip.scss */
.custom_tooltip table {
  font-size: 10px;
  font-weight: bold;
  border-collapse: separate;
  border-spacing: 1px;
}
/* line 28, ../sass/partials/_tooltip.scss */
.custom_tooltip table tr th {
  text-align: left;
  color: #6f6f6f;
  padding: 2px 5px;
}
/* line 34, ../sass/partials/_tooltip.scss */
.custom_tooltip table tr td {
  text-align: left;
  color: #28689c;
  padding: 2px 5px;
}

/* line 1, ../sass/partials/_table.scss */
#viz_table_wrapper .table th {
  font-weight: bold;
  border-bottom: 0px;
  border-left: 1px solid #d3d4d4;
  border-right: 1px solid #d3d4d4;
}

/* line 8, ../sass/partials/_table.scss */
#viz_table {
  margin: 0 auto;
  width: 100% !important;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

/* line 17, ../sass/partials/_table.scss */
div.dataTables_wrapper {
  width: 100% !important;
  margin: 0 auto;
  padding: 5px;
}

/* line 23, ../sass/partials/_table.scss */
.dataTables_length {
  text-align: left !important;
}
/* line 26, ../sass/partials/_table.scss */
.dataTables_length label {
  /*setting up search box position  */
  width: auto !important;
}

/* line 31, ../sass/partials/_table.scss */
#viz_pivot-table_wrapper .table th {
  font-weight: bold;
  border-bottom: 0px;
  border-left: 1px solid #d3d4d4;
  border-right: 1px solid #d3d4d4;
}

/* line 38, ../sass/partials/_table.scss */
.searchIcon {
  position: absolute;
  margin: 5px;
  top: -13px;
  right: 65px;
  z-index: 999;
  font-size: 35px;
}

/* line 48, ../sass/partials/_table.scss */
#viz_table_filter input {
  height: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}
/* line 53, ../sass/partials/_table.scss */
#viz_table_filter label {
  color: #404345;
  font-weight: normal;
}

/* line 59, ../sass/partials/_table.scss */
.searchOpen {
  display: block;
}

/* line 62, ../sass/partials/_table.scss */
.searchClose {
  display: none;
}

/* line 65, ../sass/partials/_table.scss */
.dataTables_scroll {
  overflow: auto;
}
/* line 68, ../sass/partials/_table.scss */
.dataTables_scroll table {
  clear: both;
  border-collapse: collapse;
}

/* line 75, ../sass/partials/_table.scss */
._pagination {
  float: right !important;
  margin-right: 20px !important;
  position: absolute;
  right: 0;
  bottom: 1px;
  margin: 2px 0px 0 0;
  text-align: center;
  list-style: none;
}
/* line 84, ../sass/partials/_table.scss */
._pagination li {
  display: inline;
}
/* line 87, ../sass/partials/_table.scss */
._pagination .hidden {
  display: none !important;
}

/* line 91, ../sass/partials/_table.scss */
._pagination li > a,
._pagination li > span {
  display: inline-block !important;
  padding: 1px 10px !important;
  background-color: #fff !important;
  border: 1px solid #337ab7 !important;
  border-radius: 15px !important;
  color: #337ab7 !important;
  margin: 0px 5px;
  cursor: pointer;
}

/* line 102, ../sass/partials/_table.scss */
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}

/* line 105, ../sass/partials/_table.scss */
#viz_table_wrapper td.selected {
  background-color: #676a6c !important;
  opacity: 0.5 !important;
  color: #fff !important;
}

/* width */
/* line 112, ../sass/partials/_table.scss */
.dataTables_scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
/* line 119, ../sass/partials/_table.scss */
.dataTables_scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
/* line 124, ../sass/partials/_table.scss */
.dataTables_scroll::-webkit-scrollbar-thumb {
  background: rgba(136, 139, 142, 0.5);
}

/* Handle on hover */
/* line 129, ../sass/partials/_table.scss */
.dataTables_scroll::-webkit-scrollbar-thumb:hover {
  background: #888b8e;
}

/* line 133, ../sass/partials/_table.scss */
#viz_table_wrapper table.dataTable thead th.ui-state-default,
#viz_table_wrapper table.dataTable tfoot th.ui-state-default {
  border-left-width: 1px;
  border: 1px solid #dddddd;
  border-top: none;
  padding: 4px 5px;
}

/* line 141, ../sass/partials/_table.scss */
#viz_table_wrapper table.dataTable.display tbody td {
  border: 0px solid #dddddd;
}

/* line 145, ../sass/partials/_table.scss */
#viz_table_wrapper table.dataTable tfoot tr:first-child th,
#viz_table_wrapper table.dataTable thead tr:first-child th {
  border-top: 1px solid #dddddd;
  border-right: none;
}

/* line 151, ../sass/partials/_table.scss */
#viz_table_wrapper table.dataTable tbody th {
  border-right: none;
}

/* line 155, ../sass/partials/_table.scss */
#viz_table_wrapper table.dataTable tbody th,
#viz_table_wrapper table.dataTable tbody td {
  padding: 4px 5px;
}

/* line 161, ../sass/partials/_table.scss */
#viz_pivot-table_wrapper .no-footer tr th {
  border-top: 1px solid #dddddd;
  padding: 4px 5px;
  font-size: 13px !important;
}
/* line 166, ../sass/partials/_table.scss */
#viz_pivot-table_wrapper tbody tr td {
  padding: 4px 5px;
}

/* line 173, ../sass/partials/_table.scss */
#viz_table_wrapper table.dataTable tbody td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 182, ../sass/partials/_table.scss */
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #f1f1f1;
}
